.App {
  font-family: sans-serif;
  text-align: center;
}

.test {
  font-size: 50;
  color: "red";
}

.buttonW {
  width: "100px" !important;
  height: "30px" !important;
}

.stock {
    background: "black";
    color: "#0f0";
    width: "999px";
    height: "27px";
}